.react-responsive-modal-modal {
    padding: 0 !important;
}

.react-responsive-modal-closeButton {
    display: none !important;
}

.is-invalid {
    border-color: red !important;
}

.modal {
    background-color: transparent !important;
    bottom: unset;
    right: unset;
    height: auto;
    width: auto;
    top: 30vh;
}

.ti-orange-text.location-edit-link {
    display: flex;
}

.mt-15 {
    margin-top: 15px !important;
}
.mt-10 {
    margin-top: 10px !important;
}
.mt-5 {
    margin-top: 5px !important;
}
.mt-0 {
    margin-top: 0px !important;
}
.lh-inherit {
    line-height: inherit;
}

.accordion-button {
    background: #f8f9fa;
    border: none;
    font-weight: bold;
    padding: 12px 16px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .accordion-button::after {
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 18px;
    transition: transform 0.2s ease;
  }
  
  .accordion-button.active::after {
    content: '–'; /* Dash when open */
  }
  

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    .react-responsive-modal-modal {
        width: 25%;
    }

    
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    .react-responsive-modal-modal {
        width: 25%;
    }

    
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    .react-responsive-modal-modal {
        width: 25%;
    }

    
}